<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="supremez2.zwskin.diamondinc.com.supremezdashboard" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".CalligraphyApplication" >

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- START Zooper Widget definitions -->
        <!--
        This is the templates activity, if you are developing a skin project
        for a launcher or something else do the following:
        - Add both activity and provider (so copy from START to END in your AndroidManifest.xml)
        - Copy the source tree org.zooper.zwskin in your src directory
        - Copy zooper.xml in res/values
        - Add template and resources to the assets folder
        - If skin is commercial also uncomment <provider> below and follow instructions
        -->
        <activity
            android:name="org.zooper.zwskin.ZooperTemplate"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.zooper.zw.TEMPLATES" />
            </intent-filter>
        </activity>
        <!--
        COMMERCIAL SKINS ONLY:
        - Uncomment provider entry
        - Set android:authorities="PACKAGENAME.zwprovider"
          If package is "my.pkg.name.zwskin.sample" set it to "my.pkg.name.zwskin.sample.zwprovider"
        -->
        <provider
            android:name="org.zooper.zwskin.TemplateProvider"
            android:authorities="supremez2.zwskin.diamondinc.com.supremezdashboard" />
        <!-- END Zooper Widget definition -->

        <activity
            android:name="com.antonioleiva.materialeverywhere.HomeActivity"
            android:label="Wallpapers" >
        </activity>
        <activity
            android:name="com.antonioleiva.materialeverywhere.DetailActivity"
            android:label="Set Wallpaper"
            android:parentActivityName="com.antonioleiva.materialeverywhere.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="supremez2.zwskin.diamondinc.com.supremezdashboard.MainActivity" />
        </activity>





    </application>

</manifest>
